{"swagger":"2.0","info":{"title":"BcOnline_TakeOrder","description":"Custom api take orders","version":"1.0"},"host":"api.businesscentral.dynamics.com","basePath":"/v2.0/5f824385-5b14-483b-a1e3-d1ef07e79a25/PoverApps/","schemes":["https"],"consumes":[],"produces":[],"paths":{"/TakeOrder/beta/companies(42924de7-df46-ee11-be73-6045bdaccfa9)/itemsWithImage":{},"/v2.0/5f824385-5b14-483b-a1e3-d1ef07e79a25/PoverApps/api/businessCentralDemos/TakeOrder/beta/companies(42924de7-df46-ee11-be73-6045bdaccfa9)/itemsWithImage":{},"/api/businessCentralDemos/TakeOrder/beta/companies(42924de7-df46-ee11-be73-6045bdaccfa9)/itemsWithImage":{},"/api/businessCentralDemos/TakeOrder/beta/languageResources":{"get":{"responses":{"default":{"description":"default","schema":{"type":"object","properties":{"@odata.context":{"type":"string","description":"@odata.context"},"value":{"type":"array","items":{"type":"object","properties":{"@odata.etag":{"type":"string","description":"@odata.etag"},"labelId":{"type":"string","description":"labelId"},"DisplayName":{"type":"string","description":"DisplayName"},"languageCode":{"type":"string","description":"languageCode"}}},"description":"value"}}}}},"summary":"Language Resources","operationId":"languageResources","description":"Get Language Resources","x-ms-visibility":"important","parameters":[]}},"/api/businessCentralDemos/TakeOrder/beta/companies({companyId})/itemsWithImage":{},"/api/businessCentralDemos/TakeOrder/beta/localeInformations":{"get":{"responses":{"default":{"description":"default","schema":{"type":"object","properties":{"@odata.context":{"type":"string","description":"@odata.context"},"value":{"type":"array","items":{"type":"object","properties":{"@odata.etag":{"type":"string","description":"@odata.etag"},"id":{"type":"string","description":"id"},"DisplayName":{"type":"string","description":"DisplayName"},"countryRegionCode":{"type":"string","description":"countryRegionCode"},"powerAppLocale":{"type":"string","description":"powerAppLocale"}}},"description":"value"}}}}},"summary":"Get locale informations","description":"Get locale informations","operationId":"localeInformations","x-ms-visibility":"important","parameters":[]}},"/api/businessCentralDemos/TakeOrder/beta/companies({companyId})/tables":{"get":{"responses":{"default":{"description":"default","schema":{}}},"summary":"Get tables","description":"Get tables","operationId":"tables","parameters":[{"name":"companyId","in":"path","required":true,"type":"string"}]}},"/{tenantid}/api/businessCentralDemos/TakeOrder/beta/companies({companyId})/itemsWithImage":{},"/{tenantid}/{environment}/api/businessCentralDemos/TakeOrder/beta/companies({companyId})/itemsWithImage":{},"/api/businessCentralDemos/TakeOrder/beta/itemsWithImage":{"get":{"responses":{"default":{"description":"default","schema":{"type":"object","properties":{"@odata.context":{"type":"string","description":"@odata.context"},"value":{"type":"array","items":{"type":"object","properties":{"@odata.etag":{"type":"string","description":"@odata.etag"},"id":{"type":"string","description":"id"},"number":{"type":"string","description":"number"},"DisplayName":{"type":"string","description":"DisplayName"},"unitPrice":{"type":"integer","format":"int32","description":"unitPrice"},"baseUnitOfMeasureCode":{"type":"string","description":"baseUnitOfMeasureCode"},"itemImageText":{"type":"string","description":"itemImageText"},"GTIN":{"type":"string","description":"GTIN"},"SoldInRestaurant":{"type":"boolean","description":"SoldInRestaurant"},"ShortItemDescription":{"type":"string","description":"ShortItemDescription"},"Facts":{"type":"string","description":"Facts"},"AllergenInformation":{"type":"string","description":"AllergenInformation"},"itemCategoryName":{"type":"string","description":"itemCategoryName"},"itemCategoryCode":{"type":"string","description":"itemCategoryCode"},"picture":{"type":"string","description":"picture"},"pictureHeight":{"type":"integer","format":"int32","description":"pictureHeight"},"pictureWidth":{"type":"integer","format":"int32","description":"pictureWidth"}}},"description":"value"}}}}},"summary":"Get Items With Image","description":"Gets items data with image","operationId":"ItemsWithImage","x-ms-visibility":"important","parameters":[{"name":"company","in":"query","required":false,"type":"string"},{"name":"$filter","in":"query","required":false,"type":"string"}]}}},"definitions":{},"parameters":{},"responses":{},"securityDefinitions":{"oauth2-auth":{"type":"oauth2","flow":"accessCode","authorizationUrl":"https://login.microsoftonline.com/common/oauth2/authorize","tokenUrl":"https://login.microsoftonline.com/5f824385-5b14-483b-a1e3-d1ef07e79a25/oauth2/v2.0/token","scopes":{"https://api.businesscentral.dynamics.com/.default":"https://api.businesscentral.dynamics.com/.default"}}},"security":[{"oauth2-auth":["https://api.businesscentral.dynamics.com/.default"]}],"tags":[]}